**/*.spv
.env
.env.cmake
**/.DS_Store
.idea/
.vs/
.vscode/
build/
cmake-build-*/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json

vendor/imgui/**
vendor/libsndfile-1.2.2-win64
*.pdb